<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.gitrnd.qaproducer.qareport.details.mapper.QADetailReportMapper">

	<!-- select report -->
	<select id="retrieveQADetailReportByPId" parameterType="int"
		resultType="com.gitrnd.qaproducer.qareport.details.domain.QADetailReport">
		select
		rd_idx,
		reflayer_id as "refLayerId",
		feature_id as "featureId",
		reffeature_id as
		"refFeatureId",
		err_type as "errType",
		err_name as "errName",
		err_point
		as "errPoint",
		comment,
		r_idx as "rIdx"
		from tb_qa_report_details
		where
		r_idx =
		#{r_idx}
	</select>


</mapper>