<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitrnd.qaproducer.qa.mapper.QAProgressMapper">

	<!-- insert request -->
	<insert id="insertQARequest" parameterType="com.gitrnd.qaproducer.qa.domain.QAProgress">
		insert into tb_progress(uidx, qa_type, file_format, state, start_time,
		fidx)
		values(#{uIdx}, #{qaType}, #{fileType}, #{qaState},
		CURRENT_TIMESTAMP, #{fIdx})
		<selectKey keyProperty="pIdx" resultType="int" order="AFTER">
			select
			currval('tb_progress_p_idx_seq')
		</selectKey>
	</insert>
</mapper>