<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.gitrnd.qaproducer.qareport.mapper.QAReportMapper">

	<!-- select report -->
	<select id="retrieveQAReportByPId" parameterType="int"
		resultType="com.gitrnd.qaproducer.qareport.domain.QAReport">
		select
		r_idx, layer_id as "layerId",
		layer_count as "layerCount",
		feature_count as "featureCount",
		normal_count as "normalCount",
		err_count as
		"errCount",
		except_count as "exceptCount",
		comment as "comment",
		p_idx as
		"pIdx"
		from tb_qa_report
		where p_idx = #{p_idx}
	</select>
</mapper>